<a href="https://colab.research.google.com/github/MuhammadAshiqAmeer/Federated_learning_experiments_with_Intel-openfl/blob/colab/neuroblastoma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd /content/drive/MyDrive/federated

/content/drive/MyDrive/federated

In [3]:
!ls

'Federated lemon-melon CNN classifier'	 neuroblastoma.xlsx

In [4]:
import pandas as pd

df = pd.read_excel("neuroblastoma.xlsx")

In [5]:
df

,TARGET USI,Gender,Age at Diagnosis in Days,Event Free Survival Time in Days,Vital Status,Overall Survival Time in Days,INSS Stage,MYCN status,Ploidy Value,Histology,MKI,COG Risk Group
0,TARGET-30-PARPUF,Male,96,3701,Alive,3701,Stage 4,Not Amplified,1.48,Favorable,Low,Intermediate Risk
1,TARGET-30-PARSVF,Male,964,997,Dead,1516,Stage 4,Not Amplified,1.00,Unfavorable,High,High Risk
2,TARGET-30-PARSXI,Female,538,3928,Alive,3928,Stage 4,Not Amplified,1.99,Favorable,Low,Intermediate Risk
3,TARGET-30-PARSZV,Male,287,2675,Alive,3995,Stage 2a,Not Amplified,1.58,Favorable,Low,Low Risk
4,TARGET-30-PARTCE,Male,67,3625,Alive,3625,Stage 1,Not Amplified,2.13,Favorable,Low,Low Risk
...,...,...,...,...,...,...,...,...,...,...,...,...
733,TARGET-30-PATILE,Male,824,306,Dead,306,Stage 4,Not Amplified,1.00,Unfavorable,Intermediate,High Risk
734,TARGET-30-PATINJ,Male,1037,736,Dead,822,Stage 4,Not Amplified,1.00,Unfavorable,Intermediate,High Risk
735,TARGET-30-PATNKP,Male,3446,616,Dead,1549,Stage 4,Not Amplified,1.47,Unfavorable,Intermediate,High Risk
736,TARGET-30-PATYIL,Female,328,239,Dead,481,Stage 4,Not Amplified,1.00,Favorable,Intermediate,Intermediate Risk
737,TARGET-30-PAUDDK,Male,361,344,Alive,2569,Stage 3,Not Amplified,1.33,Favorable,Low,Intermediate Risk

In [6]:
df.describe()

,Age at Diagnosis in Days,Event Free Survival Time in Days,Overall Survival Time in Days,Ploidy Value
count,738.000000,738.000000,738.000000,738.000000
mean,942.105691,1907.228997,2261.162602,1.322967
std,928.520081,1466.809684,1341.896447,0.353940
min,1.000000,10.000000,10.000000,0.960000
25%,315.250000,491.500000,960.750000,1.000000
50%,740.500000,1762.500000,2428.500000,1.220000
75%,1264.500000,3198.000000,3351.750000,1.530000
max,7613.000000,6170.000000,6170.000000,3.000000

In [20]:
df["Gender"]=df["Gender"].replace({"Male":1,"Female":0})
df['Gender']

0      1
1      1
2      0
3      1
4      1
      ..
733    1
734    1
735    1
736    0
737    1
Name: Gender, Length: 738, dtype: int64

In [21]:
df["Vital Status"]=df["Vital Status"].replace({"Dead":0,"Alive":1})
df["Vital Status"]

0      1
1      0
2      1
3      1
4      1
      ..
733    0
734    0
735    0
736    0
737    1
Name: Vital Status, Length: 738, dtype: int64

In [19]:
df["INSS Stage"].unique()

array(['Stage 4', 'Stage 2a', 'Stage 1', 'Stage 3', 'Stage 4s',
       'Stage 2b'], dtype=object)

In [22]:
df["INSS Stage"]=df["INSS Stage"].replace({"Stage 1":0,"Stage 2a":1,"Stage 2a":1,"Stage 2b":3,"Stage 3":4,"Stage 4":5,})
df["INSS Stage"]

0      5
1      5
2      5
3      1
4      0
      ..
733    5
734    5
735    5
736    5
737    4
Name: INSS Stage, Length: 738, dtype: object

In [24]:
df["MYCN status"].unique()

array(['Not Amplified', 'Amplified'], dtype=object)

In [25]:
df["MYCN status"]=df["MYCN status"].replace({"Not Amplified":0,"Amplified":1})
df["MYCN status"]

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: MYCN status, Length: 738, dtype: int64

In [26]:
df["Histology"].unique()

array(['Favorable', 'Unfavorable'], dtype=object)

In [27]:
df["MKI"].unique()

array(['Low', 'High', 'Intermediate'], dtype=object)

In [28]:
df["COG Risk Group"].unique()

array(['Intermediate Risk', 'High Risk', 'Low Risk'], dtype=object)

In [29]:
df["Histology"]=df["Histology"].replace({"Favorable":0,"Unfavorable":1})
df["MKI"]=df["MKI"].replace({"Low":0,"High":1,"Intermediate":2})
df["COG Risk Group"]=df["COG Risk Group"].replace({"Low Risk":0,"Intermediate Risk":1,"High Risk":2})

In [30]:
print(df["Histology"])
print(df["MKI"])
print(df["COG Risk Group"])

0      0
1      1
2      0
3      0
4      0
      ..
733    1
734    1
735    1
736    0
737    0
Name: Histology, Length: 738, dtype: int64
0      0
1      1
2      0
3      0
4      0
      ..
733    2
734    2
735    2
736    2
737    0
Name: MKI, Length: 738, dtype: int64
0      1
1      2
2      1
3      0
4      0
      ..
733    2
734    2
735    2
736    1
737    1
Name: COG Risk Group, Length: 738, dtype: int64

In [32]:
from sklearn.preprocessing import StandardScaler

df["Age at Diagnosis in Days"]=StandardScaler.fit_transform(df["Age at Diagnosis in Days"])

TypeError: ignored